body{
	line-height: 1.4;
	color: black;
	max-width: 8.5in;
	margin: auto;
	background-color: white;
	#padding: 0px;
	#margin: 0px;
	font-family: sans-serif;
}
h1{
	text-align: center;			
}
h2 {
	margin-top: 2px;
	margin-bottom: 2px;
	line-height: 1;			
}
#header, #whatis {
	margin: 25px;
	color: #333333;
	
}
#interface {
	margin-top: -20px;
	display: flex;
	padding: 25px;
	flex-direction: row;
	#outline: 1px solid black;
}
#controls {
	width: 200px;
	padding: 15px;
	margin-right: 15px;
	#outline: 1px solid black;
	background-color: whitesmoke;
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.1);
}
.jump {
	text-align: center;
	font-size: 9pt;
	color: grey;
	text-decoration: none;
}

#content {
	width: calc(100% - 200px);
	#background-color: white;
	box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.1);
}

#content h2 a {
	color: black;
}

.item {
	padding: 10px;
	display: flex;
	flex-direction: row;
}
.textContainer {
	margin-right: auto;
	max-width: 80%;
}
.item img {
	height: 100px;
	align-self: center;
}
.Debian {
	background-color: pink;			
}
.Fedora {
	background-color: lightblue;			
}
.Gentoo {
	background-color: #C7C6F5;			
}
.Mageia {
	background-color: #A8E8FF;			
}
.Parabola {
	background-color: #9EA2D4;			
}
.Ubuntu {
	background-color: #FF9D72;
}
.Arch {
	background-color: #7ABEE0;			
}
.Mint {
	background-color: #C7F994;
}
.Slackware {
	background-color: #9DAAD3;
}
.OpenSUSE {
	background-color: #9FDE83;			
}
.Guixsd {
	background-color: #FFE0A4;			
}
.Trisquel {
	background-color: lightblue;			
}
.Manjaro {
	background-color: #A1FFBB;
}
.Antergos {
	background-color: #A5C3FF;
}
.Alpine {
	background-color: #8FA9B6;			
}
.hidden {
	display: none;			
}
.NoDistro {
	#box-shadow: 0px 0px 0px 0px !important;
	background-color: #D5FFF9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20pt;
	font-weight: lighter;
}
@media only screen and (max-width: 800px) {
	#interface {
		flex-direction: column;
		margin: 0px;
		padding: 0px;
	}
	#content {
		width: 100%;
		min-height: 500px;
	}
	#controls {
		max-width: 100%;
		width: calc(100% - 10px);
		margin: 0px;
		padding: 0px;
		padding-left: 10px;
	}
	select{
		padding: .1in;
	}
	input[type=checkbox] {
		height: .3in;
		width: .3in;
	}
	button {
		padding: 20px;
	}
}
